name: Build

on:
  push:
    tags:
      - '*'

jobs:
  build:
    permissions: write-all
    name: Build packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            TARGET: windows
            CMD_BUILD: >
              pyinstaller --clean --onedir --windowed --specpath "./build" --upx-dir "./build" --icon "../lcapygui/data/icon/lcapy-gui.ico" --add-data "../lcapygui/data/:lcapygui/data/" --hidden-import='PIL._tkinter_finder' lcapygui.py &&
              cd dist\ &&
              Compress-Archive -Path lcapygui\* -DestinationPath lcapygui_win_x64.zip
            OUT_FILE_NAME: dist\lcapygui_win_x64.zip
            ASSET_MIME: application/zip
          - os: macos-14
            TARGET: macos
            CMD_BUILD: >
              pyinstaller --clean --onedir --windowed --specpath "./build" --upx-dir "./build" --icon "../lcapygui/data/icon/lcapy-gui.png" --add-data "../lcapygui/data/:lcapygui/data/" --hidden-import='PIL._tkinter_finder' lcapygui.py &&
              cd dist/ &&
              zip -r lcapygui_macos.zip lcapygui.app/
            OUT_FILE_NAME: dist/lcapygui_macos.zip
            ASSET_MIME: application/zip

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pyinstaller
    - name: Build with pyinstaller for ${{matrix.TARGET}}
      run: ${{matrix.CMD_BUILD}}
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{matrix.OUT_FILE_NAME}}
        tag: ${{github.ref_name}}
        allowUpdates: true
